body{
    margin: 0;
    padding: 0;
    background: url(arka.jpg);
}
.box{
    width: 400px;
    background-color:bisque ;
    height: auto;
    padding: 45px;
    text-align: center;
    border-radius: 50px;
    border: 2px;
    border-color: white;
    margin: auto;
    margin-top: 5%;
    color: #000000;
    font-family: sans-serif;
}

.image 
{
    width: 100%; 
  height: auto;
}
.box img:hover{
    transform: scale(0.9);
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: rgb(0, 0, 0);
    font-size: 60px;
    transition: all ease-in-out 250 ms;
}
.box li a:hover{
    color: #b9b9b9;
}
.container img{

    align-items: center;
}
